Scrapy==1.5.1
furl==2.0.0
dateparser==0.7.0
python-slugify==1.2.6
tldextract==2.2.0
awscli==1.16.52
boto3==1.9.42
html2text==2018.1.9
scrapy-deltafetch==1.2.1
scrapy-dotpersistence==0.3.0
extruct==0.7.1
gspread
oauth2client
PyOpenSSL
bs4==0.0.1
xmltodict==0.11.0
requests==2.20.1
algoliasearch==1.18.1
diskcache==3.1.1
git+https://github.com/seomoz/SEOmozAPISamples.git#egg=mozscape&subdirectory=python